
html,
button,
input,
select,
textarea {
    color: #222;
}
body {
    font-size: 1em;
    line-height: 1.4;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
::-moz-selection {
    background: #74CFAE;
    color: #fff;
    text-shadow: none;
}
::selection {
    color: #fff;
    background: #555;
    text-shadow: none;
}
.dog {
    background-color: #74CFAE;
}
.img-circle {
    padding: 5px;
}
.navbar {
    font-weight: 800;
    background-color: #fff;
}
.navbar-toggle {
    background-color: #74CFAE;
}
.navbar-inverse .navbar-header .navbar-brand:focus,
.navbar-inverse .navbar-header .navbar-brand:hover {
    color: #74CFAE;
}
.header-icons {
    height: 150px;
    width: auto;
}
.header-img {
    padding: 7%;
}
.button {
    background-color: #74CFAE;
    color: white;
}
.asterisk {
    font-size: 18px;
}
.logo {
    margin-top: -5px;
    margin-left: -5px;
    margin-right: 5px;
}
.left {
    text-align: left;
}
.p {
    line-height: 28px;
    margin-bottom: 25px;
}
#footer {
    background: #2b2b2b;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
#footer h3,
#footer p,
#footer span {
    color: white;
}
#footer h4 {
    color: white;
    font-size: 15px;
}
.white-bg {
    background-color: #fff;
}
#contact .contact-form .controls {
    padding-bottom:20px;
}
#contact .contact-form .controls input.contact_input {
    color:#000;
    background-color:#fff;
    float:left;border:1px solid #74CFAE;
    font-size:14px;
    font-weight:300;
    height:48px;
    padding:0 12px;
    width:88%;
}
#contact .contact-form .controls i {
    font-size:18px;
    color:#0BAFA0;
    width:48px;
    height:48px;
    background-color:#fff;
    padding:12px;
    text-align:center;
    border:1px solid #74CFAE;
    border-left:0;
}
#contact .contact-form textarea {
    font-size:14px;
    background-color:#fff;
    border:1px solid #74CFAE;
    width:100%;
    padding:2% 3%;
    height:185px;
    border-radius:0;
}
#contact .contact-form textarea:focus {
    box-shadow:none;
}
#contact .contact-form .button {
    font-weight:450;
    margin-top:30px;
    font-size:24px;
    width:100%;
    margin:20px 0;
}
.panel h3{
    font-size: 22px;
    margin: 15px 0;
}
.panel-top {
    border:1px solid #74CFAE;
    background-color: #fff;
}
.panel-bottom .btn,
.panel-bottom {
    background-color: #74CFAE;
    color: #fff;
    padding: 5px 0;
}
.panel .btn:active {
    box-shadow: none;
    border: none;
}
.panel-bottom {
    border:1px solid #74CFAE;
}
.panel:hover .btn {
    color: #222;
}
.pointer:hover {
    cursor: pointer;
}
table {
    width:100%;
    border-collapse: collapse;
    border-bottom: 4px solid #eee;
}
th, td {
    border: 0px solid #333;
}
th, td {
    padding: 5px;
    text-align: left;
}
table tr:nth-child(even) {
    background-color: #fff;
}
table tr:nth-child(odd) {
   background-color:#eee;
}
table th    {
    background-color: #74CFAE;
    color: #fff;
}
textarea {
    resize: vertical;
}
/* ==========================================================================
   General Styles
   ========================================================================== */
html,
body {
    max-width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.col-md-4 {
	padding-bottom: 20px;
}
.shift-left {
    margin-left: -15px;
}
.modal-header {
	background: #74CFAE;
}
.modal-header h4 {
	color: #fff;
}
.modal-footer {
    background: #74CFAE;
}
.modal-body .p {
    /*margin-bottom: 10px;*/
}
.navbar-toggle {
    border-color: transparent;
    border: 0px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #16a085;
	color: black;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    color: #74CFAE;
}
hr {
    position: relative;
    border: none;
}
hr:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #ccc;
}
a img {
    background: white;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}
p {
    line-height: 28px;
    margin-bottom: 25px;
}
.center {
    text-align: center;
}
strong {
    font-weight: 700;
}
/* Links */
a {
    color: #74CFAE;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover,
a:focus {
    color: #555;
    text-decoration: none;
    outline: 0;
}
a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */
#header-wrap {
    margin-top: -50px;
    padding-top: 100px;
    min-height: 650px;
    width: 100vw;
}

#header {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #74CFAE;
    text-align:center;
    z-index: -1;
}
#header p {
	color:#fff;
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	line-height: 40px;
	letter-spacing: 3px;
	margin-left: 15px;
    text-shadow: 2px 2px 2px #000;
}
#why {
    background-color: #fff;
    margin-top: 0px;
    padding-top: 40px;
    text-align: center;
}
#why p {
    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#calender {
    background-color: #fff;
	margin-top: 0px;
	padding-top: 40px;
	text-align: center;
}
#calender p {
	margin-left: 30px;
	margin-right: 30px;
	letter-spacing: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
}
/* ==========================================================================
   Image Mask
   ========================================================================== */
.grid figure {
	margin: 0;
	position: relative;
}
.grid figure img {
	width: 100%;
	display: block;
	position: relative;
}
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	color: #fff;
	background: #74CFAE;
}
.grid figcaption h5 {
    text-align: center;
    margin-top: -3px;
    font-size: 14px;
	color: #fff;
	font-weight: 700;
	letter-spacing: 2px;
}
/* Caption Style */
.mask figure {
	overflow: hidden;
}
.mask figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.no-touch .mask figure:hover img,
.mask figure.cs-hover img {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}
.mask:hover {
    cursor: pointer;
}
.mask figcaption {
	height: 50px;
	width: 100%;
	top: auto;
	bottom: 0;
    opacity: 1;
}
.no-touch .mask figure:hover figcaption,
.mask figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
/* ==========================================================================
   About Section
   ========================================================================== */
#about {
    background-color: #fff;
    width: 100%;
}
.about-bg {
    background-color: #74CFAE;
    padding: 0;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.about-bg h4 {
    color:#2b2b2b;
	padding-top: 0px;
    font-weight: 500;
}
.about-bg h5 {
    color: #2b2b2b;
	font-size: 11px;
}
.about-content {
	padding-top: 10px;
    padding-left: 35px;
    padding-right: 21px;
	background: #f2f2f2;
    height: 100%;
}
#calender-frame {
    width: 75%; 
    height: 400px;
}
#credit,
#credit a {
    color: #555;
}
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .mask figcaption {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
        -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
        transition: transform 0.4s, opacity 0.1s 0.3s;
    }
    .grid figcaption h5 {
        font-size: 16px;
        margin-bottom: 18px;
    }
    
}

@media screen and (min-device-width:1350px){
    .about-bg {
        padding-top: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width:1050px), screen and (max-device-width:1050px){
    
    
}


/*ipad portrait*/
@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait){
	
    
}

@media screen and (max-width:320px) {
    #header p {
        font-size: 22px;
        line-height: 25px;
    }
    #header .header-img span img {
        width: 65px;
        height: auto;
    }
    #calender-frame {
        width: 100%; 
        height: 350px;
    }
    .about-bg {
    padding: 0;
    }
}

/*@media screen and (min-width:769px) {*/
@media screen and (min-width:321px) and (max-device-width : 769px) {
	#header p {
		font-size: 22px;
		line-height: 25px;
	}
    #header .header-img span img {
        width: 65px;
        height: auto;
    }
    #calender-frame {
        width: 100%; 
        height: 350px;
    }
    .about-bg {
    padding: 0;
    }
    #header {
        padding-top: 30px;
    }
}