body {
	background-color: #ee;
}
#main {
	font-family: Helvetica;
	background-color: #555;
}
#muscle {
	position: absolute;
	font-size: 100px;
}
#scripts {
	position: absolute;
	font-size: 45px;
	top: 100px;
	left: 12px;
	letter-spacing: 36px;
}
#x {
	position: absolute;
	/*font-size: 45px;
	top: 120px;
	left: 163px;*/
	font-size: 40px;
	top: 122px;
	left: 164px;
}