/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/

html {
	height: 100%;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}
hr {
	padding: 0;
	margin: 0;
}
.buttons {
	position: relative;
	text-align: center;
	display: inline-block;
	width: 120px;
	font-size: 12px;
	padding: 12px 20px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.75);
	border: 0;
	margin-top: 40px;
	margin-left: 1px;
}
.buttons:hover,
.buttons:focus,
.buttons:active {
	color: #000;
	background-color: rgba(256, 256, 256, 0.5);
}




#top-view {
	/*position: fixed;*/
	width: 100%;
	height: 101vh;
	text-align: center;
	border-bottom: 1px solid #aaa;
}
.wrapper {
	position: absolute;
	width: 100%;
	height: 101vh;
	/*background-color: rgba(28,255,195,0.3);*/
	/*background-color: rgba(0,0,0,.2);*/
	/*background-color: rgba(235,235,235,.5);*/
	/*background-color: rgba(1,137,105,0.8)*/
	/*z-index: 0;*/
/*}
#bg1 {*/
	/*background: url("https://s3.amazonaws.com/f.cl.ly/items/1E1A3b3I102D3h2K3S0f/contained.gif") no-repeat center center;*/
	background: url("../img/sleek.jpg") no-repeat center center;
	/*width: 100%;
	height: 100%;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5;
    z-index: 3; 
}
#bg2 {
	background: url("../img/gif.gif") no-repeat center center;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    z-index: 2;
}
#bg3 {
	position: relative;
	width: 180px;
	height: auto;
	/*bottom: 46px;*/
	bottom: 181px;
	/*left: 20%;*/
	left: -5px;
	z-index: 2;
}


#header {
	top: 28vh;
	/*top: 18vh;*/
	text-align: center;
	position: relative;
	/*background-color: rgba(0,0,0,0.3);*/
}
.text-bg {
	/*background-color: rgba(217,240,4,0.3);*/
	/*background-color: rgba(0,0,0,0.3);*/
	/*margin: 0 10%;*/
}
#name {
	position: relative;
	font-size: 65px;
	font-weight: 800;
	font-style: oblique;
	line-height: 63px;
	color: #fff;
	text-shadow: 1px 1px #000;
	/*color: #000;
	text-shadow: 1px 1px #fff;*/
	/*background-color: rgba(0,0,0,0.5);*/
	z-index: 5;
}
#title {
	position: relative;
	font-size: 16px;
	padding-top: 7px;
	color: #fff;
	text-shadow: 1px 1px #000;
	/*color: #000;
	text-shadow: 1px 1px #fff;*/
	/*background-color: rgba(0,0,0,0.5);*/
	z-index: 5;
}
#view-projects {
	margin-top: 8vh;
	/*margin-top: 30vh;*/
	width: 190px;
	z-index: 5;
}




#middle-view {
	width: 100%;
	text-align: left;
	background: #eee;
	z-index: 1;
}
.project {
	font-size: 22px;
	font-weight: 700;
	line-height: 22px;
	padding-top: 8px;
	padding-left: 20px;
	padding-bottom: 8px;
	border-bottom: 1px solid #aaa;
}
.project:focus,
.project:hover,
.project:active {
	background-color: #fff;
}
.project span {
	font-size: 22px;
	font-weight: 300;
}




#bottom-view {
	width: 100%;
	text-align: left;
	padding-left: 20px;
	background: url("../img/13.jpg") no-repeat center center;
	background-size: cover;
	color: #fff;
	text-shadow: 1px 1px #000;
	/*color: #000;
	/*text-shadow: 1px 1px #fff;*/
}
#contact span {
	font-size: 20px;
	font-weight: 700;
	line-height: 60px;
}
#contact {
	padding-top: 10vh;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}
#about span {
	font-size: 20px;
	font-weight: 700;
	line-height: 60px;
}
#about {
	padding-top: 15vh;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	margin-right: 75px;
}
#copyright span {
	font-size: 20px;
	font-weight: 700;
	line-height: 60px;
}
#copyright {
	padding-top: 15vh;
	font-size: 14px;
	font-weight: 300;
	padding-bottom: 70px;
	line-height: 20px;
}
#copyright a {
	font-weight: 600;
	text-decoration: none;
	color: #fff;
}


