body {
	background-color: #F2FFF2;
	}

#header {
	background-color: #4A4238;
	position: absolute;
	display: inline-block;
	height: 10%;
	left: 0;
	right: 0;
	top: 0;
}

#footer {
	background-color: #4D5359;
	position: absolute;
	display: inline-block;
	height: 8%;
	left: 0;
	right: 0;
	top: 92%;
}

/*#div2 {
	background-color: gray;
	position: absolute;
	display: inline-block;
	height: 10%;
	left: 0;
	right: 0;
	top: 90%;
}

#div3 {
	background-color: gray;
	position: absolute;
	display: inline-block;
	height: 10%;
	left: 0;
	right: 0;
	top: 90%;
}
*/
