/*Previously tried colors:
0EB55-4 - too dark
3DC47-5 - was okay
49CC8-0 - good but deciding to go with original logo/color scheme
496B5-F - color of original logo
10364-3 - color of original banner
AFD33-8 - color of dot in banner
*/

a {
  color: #496b5f;
}
a:hover {
  color: #496b5f;
}
.btn-common,
.btn-border {
  background: #AFD338;
  border: 1px solid #103643;
  color: #103643;
}
.btn-common:active,
.btn-common:hover,
.btn-border:active,
.btn-border:hover {
  background: #103643;
  border: 1px solid #103643;
  color: #AFD338;
}
.section-title{
	color: #AFD338;
}
.section-title span{
	color: #103643;
}
/* Nav  */
#header .navbar-collapse{
	background-color: #fff;
}
#header .main-navigation{
	background-color: #fff;
	border-bottom: 1px solid #496b5f;
}
#header .nav li a{
	color: #496b5f;
}
#header .nav li.active a::after, #header .nav li.active a, #header .nav li a:hover::after, #header .nav li a:hover, #header .nav li a:focus{
	color: #AFD338;
}
#header .nav li a:after{
	border-bottom: 2px solid #496b5f;
}
/* Intro color */
#intro .main-text h1 span{
	color: #fff;
}
#intro .main-text h1 {
	font-size: 5em;
  	color: #AFD338;
}
/* Team color */
#team > h1 {
	color: #AFD338;
}
#team h1 span {
	color: #fff;
}
#team .item .info h4 {
	color: #fff;
}
#team .item .info p {
	color: #AFD338;
}
/* Team color */
#team .content .title{
	background: #496b5f;
}
#team .social-icons ul li a i{
	color: #496b5f;
}
/* Contact color */
#contact {
	background: #fff;
}
#contact-title,
#contact .overlay h1 .section-title .span {
	color: #103643;
}
#contact .contact-form .controls input.contact_input{
	border: 1px solid #103643;
}
#contact .contact-form .controls i{
	color: #103643;
	border-color: #103643;
}
#contact .contact-form textarea{
	border: 1px solid #103643;
}
#contact .contact-form .btn-common {
  background: #AFD338;
  border: 1px solid #103643;
  color: #103643;
}
#contact .contact-form .btn-common:hover,
#contact .contact-form .btn-common:hover {
  background: #103643;
  border: 1px solid #103643;
  color: #AFD338;
}
#connected{
	background: #103643;
}
#connected > h1 {
	color: #AFD338;
}
#connected h1 span {
	color: #fff;
}
#footer{
	background: #fff;
}
.scroll-top i{
	color: #AFD338;
}
.scroll-top:hover {
	background-color: #AFD338;
	color: #103643;
}
#panel-opener{
	color: #496b5f;
}
/*Selection color*/
::selection {
  background: #AFD338; /* Safari/Chrome */
  }
::-moz-selection {
  background: #AFD338; /* Firefox */
}