@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), 
       local('Lato-Light'), 
       url(https://hanniabu.com/projects/game/assets/fonts/latolight.woff) format('woff'), 
       url(https://hanniabu.com/projects/game/assets/fonts/latolight.ttf) format('ttf');
}

/*@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), 
       local('Raleway-Light'), 
       url(https://hanniabu.com/projects/game/assets/fonts/ralewaylight.woff) format('woff'), 
       url(https://hanniabu.com/projects/game/assets/fonts/ralewaylight.ttf) format('ttf');
}*/

*/
html {
    height: 100%;
}
html,
button,
input,
select,
textarea {
    color: #222;
}
body {
    height: 100%;
    font-family: 'Lato';
    font-size: 16px;
    color: #555;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    color: #333;
}
h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    margin-top: 3px;
    padding: 0;
}
.center {
    text-align: center;
}
.color {
    color: #50DE7D;
}
.inline {
    float: left;
}
.flat-button {
  position: relative;
  vertical-align: top;
  width: 40%;
  height: 60px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #50DE7D;
  border: 0;
  cursor: pointer;
}
.flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*HEADER*/
.left-block {
  float: left;
  padding-left: 10px;
  padding-top: 3px;
  font-size: .9em;
}
.right-block {
  float: right;
  padding-right: 10px;
  padding-top: 3px;
  font-size: .9em;
}
.center-block {
  margin-top: 8px;
  color: #fff;
}
#time,
#pasteValue {
  font-size: 1.1em;
}
#reset {
  width: 32px;
  height: 32px;
  display: none;
}

/*BODY*/
#counter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%-50%);
  font-size: 3em;
  color: #DEDEDE;
  font-weight: 700;
  display: none;
}
#start {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%-50%);
}
.copy {
  position: fixed;
  bottom: 80px;
  width: 100%
}
#copy {
  width: 80%;
  margin-left: 10%; 
  text-align: center;
}
#play {
  position: absolute;
  top: 50%;
  left: 50%;
  /*width: 0px;*/
  /*height: 0px;*/
  border-style: solid;
  border-width: 50px 0 50px 86.6px;
  border-color: transparent transparent transparent #DEDEDE;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%-50%);
}


/*FOOTER*/
.footer {
  position: fixed;
  bottom: 12px;
  width: 100%;
}
#paste {
  width: 80%;
  margin-left: 10%; 
  text-align: center;
}


/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


@media screen and (max-width:1050px), screen and (max-device-width:1050px){
	
}


/*ipad portrait*/
@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait){
	
}

@media screen and (max-width:769px) {
	
}



