@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), 
       local('Lato-Light'), 
       url(https://hanniabu.com/projects/game/assets/fonts/latolight.woff) format('woff'), 
       url(https://hanniabu.com/projects/game/assets/fonts/latolight.ttf) format('ttf');
}

/*@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), 
       local('Raleway-Light'), 
       url(https://hanniabu.com/projects/game/assets/fonts/ralewaylight.woff) format('woff'), 
       url(https://hanniabu.com/projects/game/assets/fonts/ralewaylight.ttf) format('ttf');
}*/

*/
html {
    height: 100%;
}
html,
div,
button,
input,
select,
textarea {
    color: #222;
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
    font-family: 'Lato';
    font-size: 16px;
    color: #555;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    color: #333;
}
h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    margin-top: 3px;
    padding: 0;
}
.center {
    text-align: center;
}
.color {
    color: #50DE7D;
}
.inline {
    float: left;
}
.flat-button {
  position: relative;
  vertical-align: center;
  width: 40%;
  height: 60px;
  font-size: 23px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #50DE7D;
  border: 0;
  cursor: pointer;
}
.flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.flat-button:focus {
  outline: 0;
}

/*HEADER*/
.left-block {
  float: left;
  padding-left: 10px;
  padding-top: 3px;
  font-size: .9em;
}
.right-block {
  float: right;
  padding-right: 10px;
  padding-top: 3px;
  font-size: .9em;
}
.center-block {
  margin-top: 8px;
  color: #fff;
}
#time,
#pasteValue {
  font-size: 1.2em;
}
#reset {
  width: 32px;
  height: 32px;
  display: none;
}

/*BODY*/
#scoreboard {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
#counter {
  font-size: 3em;
  color: #DEDEDE;
  font-weight: 600;
  display: none;
}
#newHighscoreMessage {
  font-size: 1.25em;
  color: #50DE7D;
  font-weight: 500;
  visibility: hidden;
}
#timesUp {
  font-size: 1.25em;
  color: #FF2200;
  font-weight: 500;
  visibility: hidden;
}
/*#start {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}*/
#start {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border: 1px solid #878787;
  border-radius: 100%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
/*colors tried deded-e, bfbfb-f, dark-grey, 91919-1, */
#start2 {
  position: relative;
  top: 40px;
  left: 55px;
  border-style: solid;
  border-width: 33px 0 33px 57px;
  border-color: transparent transparent transparent #878787;
}
#start3 {
  position: absolute;
  top: 42px;
  left: 56px;
  border-style: solid;
  border-width: 31px 0 31px 54px;
  border-color: transparent transparent transparent #fff;
}



/*FOOTER*/
.copy {
  position: fixed;
  bottom: 90px;
  width: 100%;
  height: 60px;
  text-align: center;
}
#copy {
  position: relative;
  top: 0;
  width: 80%;
  margin: 5px;
  /*margin-left: 50%;*/
 /* -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);*/
}
.footer {
  position: fixed;
  bottom: 15px;
  width: 100%;
  height: 60px;
  text-align: center;
}
#paste {
  position: relative;
  width: 80%;
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


@media screen and (max-width:1050px), screen and (max-device-width:1050px){
	
}


/*ipad portrait*/
@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait){
	
}

@media screen and (max-width:769px) {
	
}



