@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

html,
body {
	height: 100%;
	background-color: #fff;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}
h1 {
	font-size: 45px;
}
h3 {
	font-size: 40px;
}
h4 {
	font-size: 37px;
	padding-bottom: 16px;
}
p {
	font-size: 16px;
}
ul {
	padding: 0;
	color: #777;
}
hr {
	height: 3px;
	width: 60px;
	border: none;
	background-color: rgba(0, 0, 0, 0.4);
	margin-top: 25px;
	margin-bottom: 35px;
}
.buttons {
	position: relative;
	text-align: center;
	display: inline-block;
	width: 120px;
	font-size: 12px;
	padding: 12px 20px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.75);
	border: 0;
	margin-top: 40px;
	margin-left: 1px;
}
.buttons:hover,
.buttons:focus,
.buttons:active {
	color: #000;
	background-color: rgba(256, 256, 256, 0.5);
}
.checkmark li {
	display: block;
	margin: 20px 0;
	line-height: 30px; 
	font-size: 18px;
	font-weight: 400;
}
.checkmark li:before {
	content: '';
	display: inline-block;
	width: 9px;
	height: 15px;
	border: solid;
	border-width: 0 4px 4px 0;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-right: 25px;
	margin-left: 5px;
	border-radius: 1px;
}
.center {
	text-align: center;
}
.white {
	color: #fff;
}
.title {
	text-transform: uppercase;
	text-align: center;
	font-size: 42px;
	font-weight: 900;
	line-height: 50px;
	margin-top: 100px;
}
.noBull {
	list-style-type: none;
}
.headshot {
	width: 125px;
	height: 125px;
	border-radius: 100%;
	background-color: rgba(0, 0, 0, 0.08);
	margin: 80px;
}


/* ==========================================================================
       HEADER
   ========================================================================== */
#header {
	position: relative;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	height: 101vh;
	text-align: center;
	background-color: #00BFBF;
}
#name {
	position: relative;
	padding-top: 100px;
	padding-top: 25vh;
	font-size: 65px;
	font-weight: 800;
	font-style: oblique;
	line-height: 63px;
	color: #fff;
	text-shadow: 1px 1px #000;
}
#title {
	position: relative;
	font-size: 16px;
	padding-top: 7px;
	color: #fff;
	text-shadow: 1px 1px #000;
}
#view-projects {
	/*margin-top: 100px;*/
	margin-top: 10vh;
	width: 190px;
}


/* ==========================================================================
      SKILLS
   ========================================================================== */
#talent {
	padding-bottom: 60px;
}
.skills {
	margin-bottom: 30px;
}
.skills hr {
	margin-left: 0;
}
.skills ul li div {
	font-size: 22px;
	line-height: 45px;
	line-height: 54px;
}
.skills ul li span {
	display: block;
	font-size: 14px;
	font-weight: 600;
	line-height: 22px;
	line-height: 12px;
}
.iCan {
	padding-top: 30px;
}
.curly {
	font-size: 200px;
	font-weight: 100;
	margin-top: 200px;
	color: #aaa;
}


/* ==========================================================================
      BENEFITS
   ========================================================================== */
#benefit {
	width: 100%;
	background-color: #FF5656;
	padding-bottom: 80px;
	/*color: #eee;*/
}
#benefits ul {
	color: #eee;
}


/* ==========================================================================
      PROJECTS
   ========================================================================== */
#projects {
	padding-bottom: 100px;
}
#projects h3 { 
	font-size: 30px; 
	text-align: center; 
	padding-bottom: 20px; 
	font-weight: 700; 
}
#projects h3:hover { 
	color: #555; 
}
#projects article > * { 
	text-decoration: none; 
	color: #333; 
}

/* ==========================================================================
      RESUME
   ========================================================================== */
#resume {
	background-color: #56FFAA;
	background-color: #00BFBF;
	padding-bottom: 100px;
	color: #fff;
}
#resume .buttons {
	width: 250px;
	height: 60px;
	line-height: 35px;
	font-size: 20px;
	border-radius: 5px;
}
#resume span {
	display: block;
	font-size: 13px;
	margin-top: 10px;
}


/* ==========================================================================
      FOOTER
   ========================================================================== */
#footer {
	position: relative;
	bottom: 0;
	margin-bottom: 60px;
	text-align: center;
	font-size: 35px;
	color: #555;
	font-weight: 300;
}
#footer .title {
	margin-bottom: 30px;
}
#footer img {
	margin-right: 10px;
	margin-bottom: -30px;
}
#footer p {
	font-size: 25px;
	line-height: 38px;
	font-weight: 400;
	margin-top: 25px;
	margin-bottom: 30px;
	/*color: #555;*/
}
#copyright {
	font-size: 16px;
	font-weight: 400;
	color: #999;
	margin-top: -15px;
}
#copyright span {
	color: #555;
	color: #999;
}


/* ==========================================================================
     MEDIA QUERIES
   ========================================================================== */
@media all and (min-width: 768px) and (max-width: 1280px) { 
	#name {
		padding-top: 150px;
		padding-top: 20vh;
		font-size: 150px;
		line-height: 140px;
	}
	#title {
		font-size: 20px;
		line-height: 30px;
		padding-top: 10px;
	}
	#view-projects {
		margin-top: 80px;
		margin-top: 12vh;
		width: 240px;
		height: 60px;
		font-size: 15px;
		line-height: 35px;
	}
}

@media all and (min-width: 320px) and (max-width: 768px) {
	#footer img {
		width: 175px;
		height: auto;
	}
}
