html {
  height: 100%;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  height: 100vh;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
}
h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.flat-button {
  position: relative;
  vertical-align: center;
  width: 100%;
  height: 60px;
  /*padding: 0;*/
  /*margin: 0;*/
  /*margin-top: 40px;*/
  /*margin-bottom: 30px;*/
  font-size: 22px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3068A5;
  border: 0;
  cursor: pointer;
}
.flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.center {
  text-align: center;
}
.color {
  color: #3068A5;
}
.inline {
  float: left;
}


.logo {
  margin-top: -5px;
  padding-right: 5px;
}
.navbar {
  font-weight: 800;
  background-color: #fff;
}
.navbar-toggle {
  background-color: #3068A5;
  border-color: transparent;
  border: 0px solid transparent;
}
.navbar-inverse .navbar-header .navbar-brand {
  color: #2b2b2b;
} 
.navbar-inverse .navbar-header .navbar-brand:hover {
  color: #2b2b2b;
  color: #3068A5;
} 


#wrap {
  padding-top: 50px;
  height: 100vh;
}
#dropdown {
  margin-bottom: 40px;
}
.exercise {
  display: none;
  text-align: center;
}
.gifs {
  text-align: center;
  display: inline-block;
}


.next-random-button {
  position: fixed;
  bottom: 20px;
  width: 100%;
  height: 60px;
  text-align: center;
}
#next-random-button {
  position: relative;
  width: 100%;
  display: none;
}






/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


@media screen and (max-width:1050px), screen and (max-device-width:1050px){
	
}


/*ipad portrait*/
@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait){
	
}

@media screen and (max-width:769px) {
	
}



